# Server
PORT=5000
NODE_ENV=development

# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_sTLxn60vrKjq@ep-shy-sunset-atemnea2-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT
JWT_SECRET=727498789hhhuiiybjhsgiuyy49643kjbg487yibuiy87jhbfgbuy
JWT_EXPIRE=30d

# File Upload
MAX_FILE_SIZE=5242880
UPLOAD_PATH=uploads

# Admin Seed (first admin credentials)
ADMIN_EMAIL=umarfarooqkhan6383@gmail.com
ADMIN_PASSWORD=Admin@123

# Cloudinary
CLOUDINARY_CLOUD_NAME=ut6wjhr4
CLOUDINARY_API_KEY=958843673784878
CLOUDINARY_API_SECRET=FZrJzJ9bsllM5anPd6dRGNCEQBI